.spinner {
  margin: 0 auto;
  padding: 3rem 0;
  width: 4rem;
  height: 4rem;
}

.spinner:after {
  content: ' ';
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 6px solid rgb(255, 255, 255);
  border-color: #fff transparent #fff transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
